.link{
    text-decoration: none;
    color: #fff;
}
/* input[type='text']{
    width: 320px;
}
select{
    width: 200px;
} */
.form-control{
    width: 310px;
    height: 50px;
    margin-bottom: 10px;
}

/* img{
    width: 20px;
    height: 20px;
} */